node_modules
.DS_Store
dist-ssr
*.local
.idea
.vscode

/private
/out
/tmp
.env

cypress/videos
cypress/screenshots

/extra/healthcheck.exe
/extra/healthcheck
/extra/healthcheck-armv7

extra/exe-builder/bin
extra/exe-builder/obj

.vs
.vscode
